main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border-radius: 8px;
}

figcaption {
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
